* {
    padding: 0%;
    margin: 0%;
}

body {
    background-image: url(calcy.jpg);
}

nav {
    background: #ff0000;
    border-bottom: 6px solid #e77200;
    border-top: 6px solid #e77200;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
    margin-bottom: 150px;
    font-size: 2em;
    text-transform: uppercase;
    height: 60px;

}

form {
    border: 7px solid rgb(243, 6, 6);
    width: 350px;
}

#display {
    width: 200px;
    height: 60px;

}

#display input {
    width: 220px;
    margin-left: 4px;
    height: 50px;
    text-align: end;
    font-size: 2em;
    background-color: rgb(227, 177, 60);
    overflow: hidden;
}
#display input:focus{
    width: 220px;
    height: 50.5px;
}

table {
    background: transparent;
    border-color: rgb(8, 67, 119);
    width: 350px;
    border-bottom: 7px solid rgb(243, 6, 6);
}

#clear input {
    background-color: red;
    width: 100px;
    height: 50.5px;
    color: white;
    font-size: 2em;
    font-weight: bold;
    margin-left: 8px;
    border: none;
}

#clear input:hover {
    background-color: orange;
    border: 5px solid rgb(243, 6, 6);
    color: black;
}
div {
    background: transparent;
    width: 350px;
}
#btn {
    background-color: orangered;
    width: 75px;
    height: 50px;
    color: white;
    font-size: 2em;
    font-weight: bold;
    margin: 3px;
    border: 3px solid rgb(243, 6, 6);
}
#btn:hover {
    background-color: rgb(252, 153, 5);
    color: black;
}